<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Astma</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Astmapalsta</h1>

        <span>Astmapalstalla astmaa sairastavat ja heid&auml;n l&auml;heisens&auml; voivat vaihtaa sairauteen liittyvi&auml; ajatuksia ja kokemuksia ymp&auml;ri vuorokauden.
            Keskustelua voivat lukea kaikki, mutta kommentointi ja uusien keskustelujen aloittaminen edellytt&auml;v&auml;t kirjautumista.</span>
        <ol>
            <li th:each="alkio: ${aiheet}">
                <a th:href="@{~/aihe/{id}(id=${alkio.AiheId})}" th:text="${alkio.Aihe}">name</a> <span th:text="${alkio.PvmAika}">aika</span>
            </li>
        </ol>         

    </body>
</html>