<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelunavaukset</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Keskustelunavaukset</h1>

        <span>Astmapalstalla voi kommentoida olemassa olevia keskustelunavauksia tai avata uusia keskusteluita. Kommentoiminen ja uusien avaaminen vaatii tunnistautumisen.</span>
        <ol>
            <li th:each="alkio: ${keskustelunavaus}">
                <a th:href="@{~/avaus/{id1}/{id2}(id1=${alkio.AiheId}, id2=${alkio.KeskusteluId})}" th:text="${alkio.Otsikko}">otsikko</a> Viestien lukumäärä: <span style="color:red;" th:text="${alkio.Lkm}">lkm</span> Uusin viesti saapunut:<span th:text="${date}">aika</span>
            </li>
        </ol>  
        
        <form method="POST">
            Keskustelunavaus otsikko: <br/><input type="text" name="otsikko"/><br/>               
            Sisältö:<br/><input type="text" name="sisalto"/><br/>
            Käyttäjätunnus:<br/><input type="text" name="tunnus"/><br/>            
            <input type="submit" value="Lisää uusi keskustelunavaus, sisältö ja käyttäjätunnus!"/>            
        </form>

    </body>
</html>