<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Viestit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Astmapalsta</h1>

        <span>Astmapalstalla astmaa sairastavat ja heid&auml;n l&auml;heisens&auml; voivat vaihtaa sairauteen liittyvi&auml; ajatuksia ja kokemuksia ymp&auml;ri vuorokauden.
            Keskustelua voivat lukea kaikki, mutta kommentointi ja uusien keskustelujen aloittaminen edellytt&auml;v&auml;t kirjautumista.</span>
        <ol>
            <li th:each="alkio: ${viesti}">
                <a th:text="${alkio.Sisalto}">sisalto</a> Käyttäjältä:<span style="color:red;" th:text="${alkio.Tunnus}">tunnus</span> Viesti saapunut:<span th:text="${alkio.PvmAika}">aika</span>
            </li>
        </ol>  

        <form method="POST">
            Viesti: <br/><input type="text" name="sisalto"/><br/>               
            Käyttäjätunnus:<br/><input type="text" name="tunnus"/><br/>
            <input type="submit" value="Lisää uusi viesti ja käyttäjätunnus!"/>            
        </form>
        

    </body>
</html>