<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Viestit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Viestit</h1>

        <span>Astmapalstan viestien kommentoiminen vaatii tunnistautumisen.</span>
        <ol>
            <li th:each="alkio: ${viesti}">
                <a th:text="${alkio.Sisalto}">sisalto</a> Käyttäjältä:<span style="color:red;" th:text="${alkio.Tunnus}">tunnus</span> Viesti saapunut:<span th:text="${alkio.PvmAika}">aika</span>
            </li>
        </ol>  

        <form method="POST">
            Viesti: <br/><input type="text" name="sisalto"/><br/>               
            Käyttäjätunnus:<br/><input type="text" name="tunnus"/><br/>
            <input type="submit" value="Lisää uusi viesti ja käyttäjätunnus!"/>            
        </form>
        

    </body>
</html>